---
title: About Page
layout: page
---
p This is a simple site. I'll be building up over time.

:marked
  Utilizing [Hexo.io](http://hexo.io) to create this site, hosted on [Github](http://pages.github.io).
  
  
include _test.jade

include:marked _test2.md  